
#appoi{
    display: flex;
    flex-direction: column;
    
    margin: auto auto;
    margin:10px;
    border: 1px solid black;
    padding: 10px;
}


#newz{
    color: gray;
    padding: 20px;


}

#newz:hover{
    background-color: rgba(0,0,0,0.14);
    cursor: pointer;
}

#appointment-title{
    color: black;
    font-weight: 2px;
}

#appointment-history{
    color:blueviolet;
}
