.appoi{
          text-align: center;
          background-color:lightsteelblue;
          min-height: 100vh;
          box-sizing: border-box;
          padding: 40px;
          
}

#success{
          padding: 30px;
}

#toConfirm{
          padding: 30px;
}