.handlers{
          
          
          min-height: 70vh;
          box-sizing: border-box;
          display: grid;
          grid-template-columns: 1fr 1fr;

          
}

#facebook{
          display: grid;
          align-items: center;
          justify-content: center;
          
          
          margin: auto auto; 

}

#news{
          display: flex;
          flex-direction: column;
          width: 25vw;
          height: 50vh;
          margin: auto auto;
}


#newz{
          color: gray;
          padding: 20px;


}

#newz:hover{
          background-color: rgba(0,0,0,0.14);
          cursor: pointer;
}

#news-title{
          color: black;
          font-weight: 2px;
}

#news-date{
          color:greenyellow;
}

#seeMore{
          margin: auto;
          color: grey;
}